<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
    <title>Document</title>
 </head> 
<body>
    <%- include('../partials/header') %>
<main class="cont-form">
    <form action="/admin/create" method="POST" class="formulario-registro" enctype="multipart/form-data">

     <label>Nombre del producto</label>
        <input type="text" name="Name" placeholder="Nombre del producto" class="nombre" value= <%= locals.old && old.Name ? old.Name : '' %> >
            <% if(locals.errors && errors.Name){  %> 
                <label style="color:red"><%= errors.Name.msg %> </label>
                <% } %> 
     
     <label>Descripción</label>
        <input name="descripcion" id="comentario" placeholder="Ingrese la descripción del producto" value= <%= locals.old && old.descripcion ? old.descripcion : '' %> >
        
     <label>Categoría</label>
         <select name="categoria" placeholder="Seleccione una categoria" >
            <option value="frutas">Frutas</option>
            <option value="verduras">Verduras</option>
            <option value="verduras-cortadas">Verduras cortadas</option>
            <option value="bolsones">Bolsones</option>
            <option value="organico">Productos orgánicos</option>
         </select>
         
     <label>Presentación</label>
         <input type="text" name="unidad" placeholder="Ingrese el tipo de presentación del producto, ej: kg, bolsa, atado..." value= <%= locals.old && old.unidad ? old.unidad : '' %>>
         <% if(locals.errors && errors.unidad){  %> 
            <label style="color:red"><%= errors.unidad.msg %> </label>
            <% } %> 
     <label>Precio unitario</label>
        <input type="text" name="precio" placeholder="Ingrese el precio unitario del producto" value= <%= locals.old && old.precio ? old.precio : '' %>>
        <% if(locals.errors && errors.precio){  %> 
         <label style="color:red"><%= errors.precio.msg %> </label>
         <% } %> 
     <label>Imágen del producto</label>
        <input type="file" name="imagen" accept=".jpg, .png" multiple> 
        <% if(locals.errors && errors.imagen){  %> 
         <label style="color:red"><%= errors.imagen.msg %> </label>
         <% } %>   
    
     <button type="submit" class="button">Agregar Producto</button>

    </form>
   
</main>
<%- include('../partials/footer') %>
</body> 
</html>
