<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head.ejs")%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <title>Detalle del producto</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="product-navbar">
            <nav>
                <ul>
                    <li><a href="/productos">Productos></a></li>
                    <li><a href="#"><%= product.categories.name %>></a></li>
                    <li><a href="#"><%= product.name %></a></li>
                </ul>
            </nav>
            <h2 class="page-title">Detalle del producto</h2>
            <button class="carrito-desplegable">carrito</button>
        </div>
    <div class="container">
        <div class="producto-a-detallar">
            <section>
                <article>
                    <div class="producto">
                    <div class="producto-detalle">
                    <h3><%= product.name %></h3>
                    <div class="product-image">
                        <img class="imagen-producto" src="/img/<%= product.images.url %>" alt="Imagen del producto">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-solid fa-chevron-left"></i>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <% if(product.detailedDescription){ %>
                    <div class="descripcion-detallada">
                            <h3>Descripcion detallada</h3>
                            <p><%= product.detailedDescription %></p>
                    </div>
                    <% } %>
                    </div>
                    <div class="product-interactions">
                        <div class="interacciones">
                            <div class="product-share">
                                <i class="fa-brands fa-facebook"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-whatsapp"></i>
                            </div>
                            <div class="product-amount">
                                <button><i class="fa-solid fa-chevron-left"></i></button>
                                <a>##</a>
                                <button><i class="fa-solid fa-chevron-right"></i></button>
                            </div>
                            <div>
                                <button class="agregar-carrito">Agregar al carrito</button>
                            </div>
                        </div>
                            <div class="detalles-del-producto">
                                <% if(product.discount){ %>
                                    <p><%= product.discount %>% OFF</p>
                                    <span id="tachado">$<%= product.price %></span>
                                    <span id="oferta precio">  $<%= Math.floor(product.price * (1-(product.discount/100))) %></span>
                                    <% } else { %>
                                    <p class="precio">$<%= product.price %></p>
                                    <% } %>
                                <p class="presentacion">Presentacion: <%= product.presentations.name %></p>
                                <p class="stock">Stock: <%= product.stock %></p>
                                <p class="descripcion"><%= product.description %></p>
                                <% if(usuario){ %>
                                <p><button><a style="text-decoration: none; color: white;" href="/admin/edit/<%=product.idProducto %>">Editar</a></button></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                
            </article>
        </section>
        </div>
        <section class="delivery">
            <div class="container3">
                <div class="tres-pasos"><h3>TENEMOS DELIVERY EN 3 PASOS</h3>
                    <div class="camioneta">
                        <img src="" alt="paso 1">
                        <img src="" alt="paso 2">
                        <img src="" alt="paso 3">
                    </div>
                    <button class="start-order"><h4>COMENZAR PEDIDO</h4></button>
                </div>
                <div class="repetir-pedido">
                    <h5>¿Ya pediste y querés repetir el pedido?</h5>
                    <button class="login-index"><h4>INICIÁ SESIÓN</h4></button>
                </div>
                <div class="envio"><h4>CALCULAR ENVÍO</h4>
                    <form>
                        <label for="codigo-postal"></label>
                        <input class="space-cp" type="CP" name="codigo-postal" placeholder="Tu código postal">
                    <button type="submit" class="button-calcular">CALCULAR</button>
                    </form>
                </div>
            </div>
            <div class="no-se-mi-codigo"> <a><h6>No se mi código postal</h6></a> </div>
        </section>
    
    </div>
        <section>
            <h3>Productos relacionados</h3>
            <div class="productos-relacionados">
                <% productos.forEach(producto => { %>
                   <% if(producto.categories.name == product.categories.name){ %>
                <article>
                    <img class="imagen-producto-relacionado" src="/img/<%= producto.images.url %>" alt="Imagen del producto">
                    <i class="fa-regular fa-heart"></i>
                    <p><%= producto.name %></p>
                    <% if(producto.discount){ %>
                        <p><%= producto.discount %>% OFF</p>
                        <span id="tachado">$<%= producto.price %></span>
                        <span id="oferta">  $<%= Math.floor(producto.price * (1-(producto.discount/100))) %></span>
                        <% } else { %>
                        <p>$<%= producto.price %></p>
                        <% } %>
                    <p><button>agregar</button></p>
                    <p><button><a style="text-decoration: none; color: white;" href="/producto/<%= producto.idProducto %>">Más info</a></button></p>
                </article>
            <% } %>
                 <% }) %>
            </div>
        </section>
        <section>
            <% if(productos.filter(producto => producto.discount > 0)){ %>
            <h3>Ofertas</h3>
            <div class="productos-relacionados">

                <% productos.forEach(producto => { %>
                    <% if(producto.discount > 0) { %>
                <article>
                    <img class="imagen-producto-ofertado" src="/img/<%= producto.images.url %>" alt="Imagen del producto">
                    <i class="fa-regular fa-heart"></i>
                    <p><%= producto.name %></p>
                    <% if(producto.discount){ %>
                        <p><%= producto.discount %>% OFF</p>
                        <span id="tachado">$<%= producto.price %></span>
                        <span id="oferta">  $<%= Math.floor(producto.price * (1-(producto.discount/100))) %></span>
                        <% } else { %>
                        <p>$<%= producto.price %></p>
                        <% } %>
                    <p><button>agregar</button></p>
                    <p><button><a style="text-decoration: none; color: white;" href="/producto/<%= producto.idProducto %>">Más info</a></button></p>
                </article>
            <% } %>
            <% }) %>
            </div>
        <% } %>
        </section>
    </main>
    <%- include("../partials/footer")%>

    <script src="/js/agregarCarrito.js"></script>
</body>