<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head.ejs")%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <title>Detalle del producto</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="product-navbar">
            <nav>
                <ul>
                    <li><a href="/productos">Productos></a></li>
                    <li><a href="#"><%= product.categories.name %>></a></li>
                    <li><a href="#"><%= product.name %></a></li>
                </ul>
            </nav>
            <h2 class="page-title" >Detalle del producto</h2>
        </div>
        <section class="product-details" style="padding-top: 15px;">
            <div class="container" >
              <div class="row min-vh-50" >
                <div class="col-md-6">
                  <img src="/img/<%= product.images.url %>" alt="Product Image" class="img-fluid border" style="height: 100%; object-fit: cover;">
                </div>
                <div class="col-md-6">
                  <h2><%= product.name %></h2>
                  <% if (product.discount) { %>
                    <p class="price"style="text-decoration: line-through; color: grey">$<%= product.price %></p>
                    <p class="price text-success">$<%= Math.floor(product.price * (1-(product.discount/100))) %></p>
                  <% } else{  %>
                    <p class="price">$<%= product.price %></p>
                    <% } %>
                  
                  <p class="description"> <%= product.description %>,Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus recusandae ratione, iure asperiores sed atque placeat eum exercitationem eaque totam illo, fugit dolorem debitis sint nisi. Harum provident expedita consequatur.</p>
                  <div class="form-group">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" name="quantity" id="quantity" class="form-control" value="1" min="1" max="10">
                  </div>
                  <button type="button" class="btn btn-primary agregar-carrito" style="margin-top:5px;">Agregar al carrito</button>
                  <hr>
                  <% if(usuario && usuario.id_rol == 2){ %>
                    <a href="/admin/edit/<%=product.idProducto %>" class="btn btn-primary" style="margin-bottom: 5px;">Editar</a>
                    <% } %>
                  <% if(product.discount){ %>
                    
                    <div class="col-6">
                      <h1 class="discount-label">AHORRA UN <%= product.discount %>%</h1>
                    </div>
                  </div>
                  <% }else { %>
                    <div class="col-6">
                        <p></p>
                    </div>
                  <% }  %>
                   
                </div>
              </div>
            </div>
          </section>
          <section>
            <h3>Productos Recomendados!</h3>
            <div id="product-carousel" class="carousel slide" data-bs-ride="carousel" style="padding-bottom: 20px;">
              <div class="carousel-inner productos-relacionados card-container">
                <% let active = 'active'; %>
                <% productos.forEach(producto => { %>
                  <div class="carousel-item <%= active %>">
                    <div class="card carda">
                      <div id="img-container">
                        <img src="/img/<%= producto.images.url %>" class="card-img-top" alt="Product Image">
                      </div>
                      <div class="card-body card-bodyy">
                        <h5 class="card-title"><%= producto.name %></h5>
                        <% if (producto.discount > 0) { %>
                          <p class="card-text">
                            <span class="price-discounted">$<%= producto.price - Math.floor((producto.price * (producto.discount/100))) %></span>
                            <span class="price-original">$<%= producto.price %></span>
                          </p>
                        <% } else { %>
                          <p class="card-text">
                            <span class="price">$<%= producto.price %></span>
                          </p>
                        <% } %>
                        <a href="/producto/<%= producto.idProducto %>" class="btn btn-primary">INFO</a>
                        <% if(usuario && usuario.id_rol == 2){ %>
                          <a href="/admin/edit/<%=producto.idProducto %>" class="btn btn-primary" style="margin-bottom: 5px;">Editar</a>
                          <form action="/admin/delete/<%= producto.idProducto %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger" value="eliminar">
                          </form>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <% active = ''; %>
                <% }) %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#product-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#product-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" ></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
            
            </section>
    </main>
    <%- include("../partials/footer")%>

    <script src="/js/agregarCarrito.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    
     
    
</body>