<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
    <title>Document</title>
 </head> 
<body>
    <%- include('../partials/header') %>

<% if(typeof products != "undefined"){%>       
<main class="cont-form">
    <form action="/admin/editar/:id/editar?_method=PUT" m method="POST" class="formulario-registro">

      <h3>Estas editando: <i><%= products.name %></i></h3>

     <label>Nombre del producto</label>
        <input type="text" name="Nombre-del-producto" placeholder="Nombre del producto" class="nombre" value="<%= locals.product?.name %> ">
     
     <label for="comentario">Descripción</label>
        <textarea name="comentario" id="comentario" placeholder="Ingrese la descripción del producto" value="<%= locals.product?.descripcion %> " ></textarea>
     <label>Categoría</label>
         <select name="category" placeholder="Seleccione una categoria">
            <option value="Frutas" selected="<%= product.category == 'Frutas' ? true : null %>">Frutas</option>
            <option value="Verduras" selected="<%= product.category == 'Verduras' ? true : null %>">Verduras</option>
            <option value="Verduras cortadas" selected="<%= product.category == 'Verduras cortadas' ? true : null %>">Verduras cortadas</option>
            <option value="Bolsones" selected="<%= product.category == 'Bolsones' ? true : null %>">Bolsones</option>
            <option value="Productos orgánicos" selected="<%= product.category == 'Productos orgánicos' ? true : null %>">Productos orgánicos</option>
         </select>
     
     <label>Presentación</label>
         <input type="text" name="unidad" placeholder="Ingrese el tipo de presentación del producto, ej: kg, bolsa, atado..." value="<%= locals.product?.presentation%> ">
     
     <label>Precio unitario</label>
        <input type="text" name="precio" placeholder="Ingrese el precio unitario del producto" value="<%= locals.product?.price%> ">
     
     <label>Imagen del producto</label>
        <input type="file" name="imagen" accept=".jpg, .png" multiple>   
     
     <button type="submit" class="button">Guardar cambios</button>

    </form>
   
</main>
<%}%>
<%- include('../partials/footer') %>
</body> 
</html>