<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
    <title>Document</title>
 </head> 
<body>
    <%- include('../partials/header') %>

<% if(typeof products != "undefined"){%>       
<main class="cont-form">
    <form action="/edit/:id?_method=PUT" method="POST" class="formulario-registro">

      <h3>Estas editando: <i><%= products.name %></i></h3>

     <label>Nombre del producto</label>
        <input type="text" name="Name" placeholder="Nombre del producto" class="nombre" value="<%= products.name %>">
     
     <label for="description">Descripción</label>
        <textarea name="description" id="description" placeholder="Ingrese la descripción del producto" value="<%= products.description %>"></textarea>
     <label>Categoría</label>
         <select name="category" placeholder="Seleccione una categoria">
            <option value="Frutas" selected="<%= products.category == 'Frutas' ? true : null %>">Frutas</option>
            <option value="Verduras" selected="<%= products.category == 'Verduras' ? true : null %>">Verduras</option>
            <option value="Verduras cortadas" selected="<%= products.category == 'Verduras cortadas' ? true : null %>">Verduras cortadas</option>
            <option value="Bolsones" selected="<%= products.category == 'Bolsones' ? true : null %>">Bolsones</option>
            <option value="Productos orgánicos" selected="<%= products.category == 'Productos orgánicos' ? true : null %>">Productos orgánicos</option>
         </select>
     
     <label>Presentación</label>
         <input type="text" name="presentation" placeholder="Ingrese el tipo de presentación del producto, ej: kg, bolson, unidad, etc" value="<%= products.presentation %>">
     
     <label>Precio unitario</label>
        <input type="text" name="price" placeholder="Ingrese el precio unitario del producto" value="<%= products.price %>">
     
     <label>Imagen del producto</label>
        <input type="file" name="imagen" accept=".jpg, .png" multiple>   
     
     <button type="submit" class="button">Guardar cambios</button>

    </form>
   
</main>
<%}%>
<%- include('../partials/footer') %>
</body> 
</html>