<!DOCTYPE html>
<html lang="en">
 <%- include('../partials/head') %>
    <title>Document</title>
 </head> 
<body>
    <%- include('../partials/header') %>


<main class="cont-form">

    <form action="/admin/edit/<%= productos.idProducto %>"  method="POST" class="formulario-registro">

      <h3>Estas editando: <i><%= productos.name %></i></h3>


     <label>Nombre del producto</label>
        <input type="text" name="Nombre-del-producto" placeholder="Nombre del producto" class="nombre" value="<%= productos.name %> ">
     
     <label for="comentario">Descripción</label>
        <textarea name="description" id="comentario"><%= productos.description %></textarea>
     <label>Categoría</label>
         <select name="category" placeholder="Seleccione una categoria">
            <option value="" disabled>Seleccione una opción</option>
            <% for(let categoria of categories){ %>
                <option <%= categoria.idcategory == productos.id_category ? "selected" : "" %>  value="<%= categoria.idcategory %>"><%= categoria.name %></option>
            <% } %>
         </select>
     
         <label>Presentación</label>
         <select name="presentation" placeholder="Seleccione una presentación" >
            <option value="" disabled>Seleccione una opción</option>
            <% for(let presentacion of presentations){ %>
                <option <%= presentacion.idpresentation == productos.id_presentation ? "selected" : "" %> value="<%= presentacion.idpresentation %>"><%= presentacion.name %></option>
            <% } %>
         </select>

     <label>Precio unitario</label>
        <input type="text" name="precio" placeholder="Ingrese el precio unitario del producto" value="<%= productos.price%> ">
     
     <label>Imagen del producto</label>
        <input type="file" name="imagen" accept=".jpg, .png" multiple>   
     
     <button type="submit" class="button">Guardar Cambios</button>
   </form>

   <form action="/admin/delete/<%= productos.idProducto %>?_method=DELETE" method="POST" class="formulario-registro">
    <button type="submit" class="button">ELIMINAR</button>
   </form> 
   
</main>

<%- include('../partials/footer') %>
</body> 
</html>