<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("../partials/head.ejs")%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
rel="stylesheet" />
    <title>Listado de productos</title>
</head>
<body>
    <%- include('../partials/header')%>
    <main>
        <div class="product-navbar">
            <nav>
                <ul>
                    <li><a href="#">Productos></a></li>
                    <li><a href="#">Categoria</a></li>
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            <h2 class="page-title">Listado de productos</h2>
            <button class="carrito-desplegable">carrito</button>
        </div>
        <section>
            <!-- <h3>Listado de productos</h3> -->
            <div class="productos-relacionados">
                <% productos.forEach(producto => { %>
                <article>
                    <a href="/producto/<%= producto.id %>"><img class="imagen-producto-relacionado" src="/img/<%= producto.image %>" alt="Imagen del producto"></a>
                    <i class="fa-regular fa-heart"></i>
                    <p><%= producto.name %></p>
                    <p>$<%= producto.price %></p>
                    <% if(usuario){ %>
                        <p><button><a style="text-decoration: none; color: white;" href="/admin/edit/<%=producto.id %>">Editar</a></button></p>
                        <form action="/admin/delete/<%= producto.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="action-button delete">Eliminar</button>
                        </form>
                    <% } %>
                    <p><button><a style="text-decoration: none; color: white;" href="/producto/<%= producto.id %>">Más info</a></button></p>
                </article>
                 <% }) %>
            </div>
        </section>
    </main>
    <%- include("../partials/footer")%>
</body>