<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/stylesList.css">
    <title>listado de usuarios</title>
    
</head>
<body>
    <%- include('../partials/header') %>
    <main>
         <h1>LISTADO DE USUARIOS</h1>
         <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Codigo Postal</th>
                    <th>Numero de telefono</th>
                </tr>
                <tbody>
                    <% users.forEach(function(users) { %>
                        <tr>
                            <td><a href=""><%=users.first_name %></a>  </td>
                            <td> <%=users.last_name %> </td>
                            <td> <%=users.email%> </td>
                            <td> <%=users.id_location%> </td>
                            <td><%=users.number_phone%> </td>
                        </tr>
                   <% }) %>
                </tbody>
            </thead>
         </table>

    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                
                <div class="contenedor-list">
                    <div class="contenedor-date">
                      <h1>LISTADO DE USUARIOS</h1>
                        <table>
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Email</th>
                                    <th>Codigo Postal</th>
                                    <th>Numero de telefono</th>
                                </tr>
                            <tbody>
                                <% users.forEach(function(users) { %>
                                    <tr>
                                        <td> <a href="<%= user[i].id">
                                                <%=users.first_name %>[]
                                             </a> </td>
                                        <td>
                                            <%=users.last_name %>
                                        </td>
                                        <td>
                                            <%=users.email%>
                                        </td>
                                        <td>
                                            <%=users.id_location%>
                                        </td>
                                        <td>
                                            <%=users.number_phone%>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                            </thead>
                        </table>
                    </div>

                </div>
            </main>
    </body>
    <%- include('../partials/footer') %>

</html>