<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Home_Huerta_Ya</title>
</head>

<body>

    <%- include("../partials/header.ejs")%>
    <div class="box-perfil"> 
    <h2 class="mi-Perfil">Mi perfil</h2>

       <p class="mensaje"> Hola, <%= usuario.first_name %> <%= usuario.last_name %>!</p> 
       <img src="/img/<%= usuario.imagen %>" style="width: 300px;" class="img-perfil">
    </div>

    
    

    
    
    <!-- <form action="/editUser" method="POST" class="formulario-registro" enctype="multipart/form-data">
        <a href="/login" class="ya-tenes-cuenta"><p>¿Ya tenes cuenta?</p></a>
        <label> Nombre</label>
            <input type="text" name="Nombre" placeholder="Lionel" class="nombre" value= <%= usuario.Nombre %> > 
            <% if(locals.errors && errors.Nombre){  %> 
                <label style="color:red"><%= errors.Nombre.msg %> </label>
                <% } %> 
                
     <label>Apellido </label>
        <input type="text" name="Apellido" placeholder="Messi" class="nombre" value= <%= usuario.Apellido %> >
            <% if(locals.errors && errors.Apellido){  %> 
                <label style="color:red"><%= errors.Apellido.msg %> </label>
            <% } %> 
            
     <label>E-mail</label>
         <input type="email" name="email" placeholder="LionelMessi10@gmail.com" value= <%= usuario.email %>>
             <% if(locals.errors && errors.email){  %> 
            <label style="color:red"><%= errors.email.msg %> </label>
            <% } %> 
             
     <label>Codigo Postal</label>
         <input type="text" name="codigoPostal" placeholder="Buenos Aires" value= <%= usuario.codigoPostal %>>
         <% if(locals.errors && errors.codigoPostal){  %> 
            <label style="color:red"><%= errors.codigoPostal.msg %> </label>
            <% } %> 
     <label>Localidad</label>
        <input type="text" name="Localidad" placeholder="Bahia Blanca" value= <%= usuario.Localidad %>>
        <% if(locals.errors && errors.Localidad){  %> 
            <label style="color:red"><%= errors.Localidad.msg %> </label>
            <% } %> 
     <label>Numero de telefono</label>
         <input type="tel" name="numeroDeTelefono" placeholder="+54 11 9930599" value= <%= usuario.numeroDeTelefono %>>
            <% if(locals.errors && errors.numeroDeTelefono){  %> 
             <label style="color:red"><%= errors.numeroDeTelefono.msg  %> </label>
            <% } %> 
         <label>Foto de perfil</label>
         <input type="file" name="imgPerfil">
     <button type="submit" class="button">Guardar</button>
     <br>
     <button class="button"><a href="/logout" style="text-decoration: none;">Log out</a></button>
    </form> -->

    <footer>
        <%- include("../partials/footer")%>
    </footer>
</body>
</html>