<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs")%>

    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/perfil.css">
    <title>HOLA! <%= usuario.first_name %></title>
</head>

<body style="min-height:100vh;">

    <%- include("../partials/header.ejs")%>
    <main class="container my-5">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/<%= imagen?.url %>" alt="Imagen de perfil" class="img-fluid rounded-circle">
            </div>
            <div class="col-md-8">
                <h1 class="text-center text-md-start mb-4"><%= usuario.first_name %> <%= usuario.last_name %></h1>
                <p class="lead"><%= usuario.email %></p>
                <hr class="my-4">
                <a href="./list/<%= usuario.iduser %>" class="btn btn-primary">Modificar mis datos</a>
            </div>
        </div>
    </main>

    <footer style="position: absolute; bottom: 0; width: 100%;"> 
        <%- include("../partials/footer")%>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-7BhjiZDWTVJtXsL2Bzg7fwYRRM02OrT7GmNiKmWwSnySrvRDPwsn9XkSPxkW/7V3q2A4/f7FgNAb8WPeUdqZqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>